 <agm-map [latitude]="lat" [longitude]="lng">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
 </agm-map>

<div class="wrapper">
    <div class="sign-rootdiv">
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                   
                        <div class = "signup-div" >
                            <h3 class="title">Welcome</h3>
                            <form class="signup-form">
                                <label>User name</label>
                                <input type="text" class="form-control" placeholder="Username">
                                <br>
                                <label>Email</label>
                                <input type="text" class="form-control" placeholder="Email">
                                <br>
                                <label>Mobile no</label>
                                <input type="text" class="form-control" placeholder="Mobile">
                                <br>
                                <label>Tell me about your self </label>
                                <textarea  class="form-control" placeholder="Tell me about your self"></textarea>
                                <br>
                                <button class="btn btn-danger btn-block btn-round">Register</button>
                                <br>
                                <br>
                            </form>
                            <!--<div class="forgot">
                                <a href="#" class="btn btn-link btn-danger">Forgot password?</a>
                            </div>-->
                        
                    </div>
                </div>
               
            </div>
    </div>
</div>
