<div class="section section-buttons">
    <div class="container">
        <div class="tim-title">
            <h2>Description</h2>
        </div>
        <div id="buttons">
            <div class="tim-title">
                <h3>
                    <small>The buzz around Angular and the relevance front end framework in the market, this is a critical focus area. This course is mainly for professionals who are currently working as web developer and want to enhance their skills with Angular.</small>
                </h3>
            </div>
            <div class="row">
                <div class="col-md-8">

                    <button type="button"  class="btn btn-danger btn-round">View More</button>

                </div>
            </div>



        </div>
        <br/>
        <div class="row">
            <div class="container">
                <div class="tim-title">
                    <h2>Prerequisites</h2>
                </div>

                <div class="tim-title">
                    <h3>
                        <small>This course starts from the scratch and you do not require any prior knowledge of Angular.</small>
                    </h3>
                </div>

                <div class="tim-title">
                    <h2>Setup & installation</h2>
                </div>

                
                <a  href="https://nodejs.org/en/" > Node.js</a>
                <br> 
                <a href="https://jinalshahblog.wordpress.com/2016/07/26/getting-started-with-angular-2-with-command-line-interface-cli-in-just-4-easy-steps/"
                    target="_blank"> Angular cli</a>
                <br> 
                <a href="https://code.visualstudio.com/"> Visual Studio Code</a>
            </div>
        </div>
        <div class="container">
            <div class="tim-title">
                <h2>Course Content</h2>
            </div>
            <div class="tim-title">
                <h3>
                    <small>Syllabus for Angular(inclusive angular 5.x with one project).</small>
                </h3>
            </div>
            <table class="table  table-striped">
                <thead class="thead-default">
                    <tr>
                        <th>Module</th>
                        <th>Details</th>
                        <th>Duration(approx)</th>
                    </tr>
                </thead>
                <tbody >
                    <tr>
                        <td>Basic</td>
                        <td>
                            All basics you need to start Angular Development
                            <br>  Introduction SPA
                            <br>  Installing NodeJS
                            <br>  Installing Angular CLI
                            <br>  Creating project
                            <br>  Adding Component using CLI
                            <br>  Creating first component
                            <br>  Using Component
                            <br>  Interpolation
                            <br>  Property Bidning
                            <br>  Event Bidning
                            <br>  Two way Data Bidning
                            <br>  directives
                            <br>  *ngFor
                            <br>  *ngIf
                            <br>  Styling elements dynamic with ng style
                            <br>  ng class
                        </td>
                        <td>2 hour</td>
                    </tr>
                    <tr>
                        <td>Component in details</td>
                        <td>You should know, how components talk to each other
                            <br>  @Input
                            <br>  @Output
                            <br>  Event Emitter
                            <br>  Getting access to the template & DOM with @viewchild
                            <br>  Projecting content with ng-content and @content child
                            <br>  Lifecycle hooks of component
                        </td>
                        <td>2 hour</td>
                    </tr>
                    <tr>
                        <td>Routing</td>
                        <td> Static routing
                            <br>  Navigating programmatically
                            <br>  Passing query parameters
                            <br>  Fetching query parameters
                            <br>  Styling active router
                            <br>  Setting up child routes
                            <br>  Wildcard routes
                            <br>  Auth guards
                            <br>  canActivate
                        </td>
                        <td>1 hour</td>
                    </tr>
                    <tr>
                        <td>Handling with Forms</td>
                        <td>Introduction to two types of form handling
                            <br>  template driven forms
                            <br>  reactive forms
                            <br>  validation
                            <br>     inbuilt validation
                            <br>     custom validation
                            <br>     async validation
                         </td>
                         <td>3 hour</td>
                    </tr>
                    <tr>
                        <td>http Client Module</td>
                        <td>Making http call to server
                           <br>  get
                            <br>  post
                            <br>  put
                            <br>  delete
                        </td>
                        <td>1 hour</td>
                    </tr>

                    <tr>
                        <td>Creating Service</td>
                        <td>Services are injectable
                            <br> creating crud operation using service
                        </td>
                        <td>30 minute</td>
                    </tr>

                    <tr>
                        <td>Pipes</td>
                        <td>
                            Introduction to pipes
                            <br>  inbuilt pipe
                            <br>  custom pipe
                        </td>
                        <td>30 minute</td>
                    </tr>
                    <tr>
                        <td>Module Optimization</td>
                        <td> introduction to shared module
                            <br>  lazy loading 
                            <br>  lazy loading strategies
                        </td>
                        <td>1 hour</td>
                    </tr>
                    <tr>
                        <td>Performance </td>
                        <td>  best practices
                            <br>  troubleshooting & debugging
                        </td>
                        <td>30 minute</td>
                    </tr>
                    <tr>
                        <td>
                            Deployment
                        </td>
                        <td>
                            Deploy the created project to heroku or firebase server
                        </td>
                        <td>30 minute</td>
                    </tr>
                    


                </tbody>
            </table>
            <div class="tim-title">
                <h3>
                    <small> In total time it is approximate 12 hours course but we want to do it practically i.e. with project so it end up with 16-18 hours course.</small>
                </h3>
            </div>
           
        </div>
        
       
    </div>
</div>