<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div>
                    <div class="angular-logo">
                        <img src="assets/img/angular2-logo.png" alt="">
                    </div>
                    <h1>Learn Angular in 2 Days with project</h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <h2 class="presentation-subtitle text-center">By Jinal shah</h2>
            </div>
        </div>

    </div>
    <div class="main">
        <app-components></app-components>
        <div class="section section-dark section-nucleo-icons">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <h2 class="title">Trainer Profile</h2><br/>
                        <p class="description">
                            Jinal Shah is the cofounder of Brainoorja Creations (www.brainoorja.com ) and a corporate trainer imparting knowledge on
                            various cutting-edge technologies, such as – Node JS, Angular, ionic2, and Bot framework. His
                            IT skills and continuous contribution to developer community has earned him C# Corner MVP (Most
                            Valuable professional) award. Jinal is having a B.E degree in Computer Science, and is actively
                            associated with academics and training programs for students enrolled in various IT courses in
                            various technical institutions. </p><br/>
                        <a href="https://jinalshahblog.wordpress.com/" class="btn btn-outline-danger btn-round" target="_blank">View more</a>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <img src="../assets/img/faces/jinalshah.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-dark">
            <div class="container">
                <app-signup></app-signup>
            </div>
        </div>
        <div class="section section-light">
            <div class="container">
               
            </div>
        </div>
    </div>
</div>